.invoice-data-fetch-box {
  display: flex;
  background-color: rgb(195, 224, 224);
  margin-top: 1rem;
  padding: 0.5rem;
}
.invoice-p {
  width: 15%;
  text-align: left;
}
.pr {
  width: 60%;
}
.invoice-delete-button {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
  margin-left: 1rem;
  background-color: #c21521;
  width: 5rem;
  height: 3rem;
  border-radius: 1rem;
  /* border: 1px solid #c21521; */
  border: none;
}
.fb {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  
}
.not-invoices{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

.not-invoices-button{
  font-size: 0.7rem;
  color: #ffffff;
  font-weight: 600;
 
  background-color: #259bea;
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  /* border: 1px solid #c21521; */
  border: none;
}
.not-h1{
  color: #220af8;
  font-size: 20px;
  font-weight: 500;
}


/* Adjusted layout for smaller screens */
@media (max-width: 768px) {
  .invoice-data-fetch-box {
    flex-wrap: wrap;
    padding: 0;
  }

  .invoice-p {
    width: 100%; /* Make each section full width */
    /* background-color: red; */
     /* For visibility; remove or adjust as needed */
  }

  .invoice-delete-button {
    width: 100%; /* Full width for buttons on small screens */
    height: 2rem;
    margin-top:  10px; /* Spacing around the buttons */
  }

  .view {
    width: 80%;
    margin-left: auto;
  }
  .view-delete{
    width: 80%;
    margin-left: auto;
  }

  .to-right, .address-right, .total-right {
    width: 100%;
    margin-left: 20%;
    height: 2rem;
  }
  .to-right span{
  position: relative;
  left: 10rem;
  bottom: 2rem;
  }

  .address-right span{
    position: relative;
    left: 10rem;
    bottom: 2rem;
    }
    .total-right span{
      position: relative;
      left: 10rem;
      bottom: 2rem;
      }
}

